*{
    border:0;
    padding:0;
    margin:0;
}
h2{
     position: absolute;
    top:10%;
    left:43%;
}

canvas{
    position: relative;
    top: 100px;
    left:400px;
    border: 2px solid gray;
}
button{
    position:absolute;
    top: 93%;
    left: 65%;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 5px;
    
}

#controls{
    position: absolute;
    top:100px;
    left:5px;
    padding:20px;
    border: 1px solid gray;
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: 2px 2px 12px lightskyblue;
}